
.web
{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    color: $blue;}
    .studio-white {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1923;
        color: $white;
        
        }

        .logo-footer
{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;

}