.item-perevagu
{
flex-basis: calc(100% - 90px)/4;
}
.paragraph-title-benefits
{
font-weight: 400;
line-height: 1.7142;


color: var(--gray);
}
.section-title-benefits
{
font-size: 14px;
line-height: 1.1428;
margin-bottom: 10px;
}
.icon-wrap{
    
    height: 120px;
    background-color:var(--botton-two);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.section-paragraph
{
    display: flex;
    gap: 30px;

}